---
layout: default
---

<div class="content">
  <div class="tab-container">
    <div name="projects" id="tab-projects" class="tab active">
      <span class="tab-header">/projects</span>
    </div>
    <div name="work" id="tab-work" class="tab">
      <span class="tab-header">/work+edu</span>
    </div>
    <div name="about" id="tab-about" class="tab">
      <span class="tab-header">/about</span>
    </div>
  </div>
  <hr>
  <div id="projects-content">  
    {% for project in site.categories.project %}
      <div class="project">
        <div clas="project-heading">
          <span class="project-title">
            {% if project.link %}
              <a href="{{ project.link }}" target="_blank">{{ project.title }}</a>
            {% else %}
              {{ project.title }}
            {% endif %}
          </span>
          <span class="project-date">
            {{ project.date | date: "%B, %Y"}}
          </span>
        </div>
        <div class="project-cover">

            {% if project.covervideo %}
              <div class="video-container">
                <iframe width="560" height="315" src="{{ project.covervideo }}" frameborder="0" allowfullscreen></iframe>
              </div>
            {% endif %}

            {% if project.coverimage %}
              <div class="image-container">
                <img src="/assets/images/projects/{{ project.coverimage | prepend: site.baseurl}}"</img> 
              </div>
            {% endif %}

        </div>
        <div class="project-description">
          {{ project.content }}
          <b>Technologies </b> {{ project.technologies | join: ', ' }}
        </div>
        <hr>
      </div>
    {% endfor %}
  </div>
  
  <div id="work-content">
    {% for post in site.categories.work %}
      {{ post.content }}
    {% endfor %}
  </div>

  <div id="about-content">
    {% for post in site.categories.about %}
      {{ post.content }}
    {% endfor %}
  </div>

  <script type="text/javascript">
    var tabs = [];
    var activeTab = 0;

    function Tab(element, content, i, tabName){
      this.element = element;
      this.content = content;
      this.order = i;
      this.tabName = tabName;
      this.element.addEventListener("click", function(){
        this.showContent();
      }.bind(this));
    }

    Tab.prototype.showContent = function(){
      tabs[activeTab].element.className = "tab";
      tabs[activeTab].content.style.display = "none";
      this.element.className = "tab active";
      this.content.style.display = "block";
      if(this.order > 0){
        window.location.hash = this.tabName;
      }else{
        window.location.hash = "";
      }
      activeTab = this.order;
    }

    var tabElements = document.getElementsByClassName("tab");
    for(var i=0; i<tabElements.length; i++){
      var tabName = tabElements[i].getAttribute("name");
      tabs.push(new Tab(tabElements[i], document.getElementById(tabName+"-content"), i, tabName));
    }

    if(window.location.hash){
      console.log(window.location.hash);
      for(var j=0; j<tabs.length; j++){
        if(tabs[j].tabName == window.location.hash.replace("#", "")){
          tabs[j].showContent();
        }
      }
    }

  </script>
  <script>
  /* Google Analytics */
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-72792370-1', 'auto');
  ga('send', 'pageview');
  </script>
</div>