<header class="site-header">
  <div class="header">
    <a href="/"><img class="avatar" src="{{"/assets/images/ajay.jpg" | prepend: site.baseurl }}"></img></a>
    <p id="name"> Ajay Ramesh </p>
    <p id="tagline">Hacker &middot; Student @ UC Berkeley </p>
    <div class="social">
      <a href="http://github.com/carpetfizz" target="blank"><i class="fa fa-social fa-github"></i></a>
      <a href="http://twitter.com/carpetfizz" target="blank"><i class="fa fa-social fa-twitter"></i></a>
      <a href="https://www.instagram.com/carpetfizz/" target="blank"><i class="fa fa-social fa-instagram"></i></a>
      <a href="https://www.linkedin.com/in/ajayrameshdev" target="blank"><i class="fa fa-social fa-linkedin"></i></a>
    </div>
  </div>
</header>
